body {
    font-family:'Times New Roman', Times, serif;
    background-color: hsl(200, 25%, 10%);
    color: white;
}

h1 {
    font-size: 50px;
}

h1,
a {
    color: white;
}

a {
    text-decoration: none;
    vertical-align: top;
}

.link-container#mac-and-cheese,
.link-container#koeksisters,
.link-container#curry-vetkoek { 
    width: auto;
    height: 120px;
    font-size: 25px;
}

.link-container .preview-img {
    width: 100px;
    height: 100px;
}

.main-img {
    width: 400px;
    height: 400px;
}